html, body {
    height: 100%;
    font-size: 66,5%;
}

body {
    font-weight: 100;
    

}

h1, h3, button {
	font-weight: bold;
}

.container {
    text-align: center;
}

.title, h1, h3 {
font-family: 'Lato';
    font-size: 3rem;
}

li {
	font-family: arial;
	font-weight: normal;
}
